* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
header {
  width: 100%;
  height: 150px;
}
header .triangle-right {
  width: 0;
  height: 0;
  border-top: 61px solid transparent;
  border-left: 61px solid #ff7466;
  border-bottom: 61px solid transparent;
  rotate: 225deg;
  position: fixed;
  z-index: 99;
  top: -40px;
  left: -9px;
}
header h1,
header h3 {
  margin-top: 25px;
  margin-bottom: 40px;
}
#dp {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid #ccc;
  box-shadow: 10px 10px 10px rgb(100, 92, 92);
  position: fixed;
  z-index: 100;
  top: 5px;
  left: 5px;
}
section {
  width: 100%;
  margin-left: 5%;
}
#logo_div {
  float: left;
  margin-top: 100px;
  width: 150px;
  height: 150px;
  border: 1px soild #ccc;
  box-shadow: 2px 2px 5px #aaa;
  border-radius: 50%;
}
#name_div {
  width: 400px;
  margin-left: 100px;
  height: 100px;
  margin-top: 100px;
  float: left;
  padding: 20px;
  font-size: 50px;
  font-weight: 900;
  color: rgb(218, 31, 247);
}
#comapny {
  float: left;
  width: 300px;
  height: 320px;
  padding: 20px;
  overflow: hidden;
  border-top: 10px groove rgb(18, 139, 231);
  border-bottom: 10px ridge rgb(18, 139, 231);
  box-shadow: 5px 5px 10px #aaa;
}
#measurement,
#sales,#tax_div,
#shut_down {
  width: 100%;
  box-shadow: 0px 0px 5px #aaa;
  cursor: pointer;
}
#measurement_div {
  width: 100%;
  box-shadow: 0px 0px 5px #aaa;
  cursor: pointer;
}
#measurement > span, #tax_div >span,
#sales > span,
#shut_down > span {
  width: 160px;
  display: inline-block;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}
#measure_span {
  width: 160px;
  display: inline-block;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}
#measurement_btn,
#sales_btn,#tax_btn,
#shut_down_btn {
  width: 100%;
  border: none;
  color: inherit;
  background-color: inherit;
  font-size: 15px;
  font-weight: 900;
  margin-top: 5px;
  padding: 5px;
}
#sales i,#tax_div i,
#shut_down i,
#fa-balance-scale {
  width: 50px;
  height: 50px;
  font-size: 30px;
  margin-top: 5px;
  float: left;
}
#fa-balance-scale_sec {
  width: 50px;
  height: 50px;
  font-size: 30px;
  margin-top: 5px;
  float: left;
}
#measurement:hover,
#sales:hover,#tax_div:hover,
#shut_down:hover {
  background-color: red;
  color: white;
}
#measure_click {
  width: 100%;
  height: 190px;
  padding: 10px;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.86);
  display: none;
}
#tax_hidden_div{
  width: 250px;
  padding: 10px;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.86);
  animation: tax_up 1s 1;
  position:absolute;
  z-index: 100;
  display: none;
}
@keyframes tax_up {
  0%{
    height:0;
  }
  100%{
    height: 150px;
  }
}
@keyframes tax_down {
  0%{
    height: 150px;
  }
  100%{
    height: 0;
  } 
}
#tax_close_fa{
  float: right;
  color:white;
  font-size: 20px;
  cursor: pointer;
}
#tax_close_fa:hover{
  color:rgb(72, 179, 1);
  
}
#measure_from {
  width: 100%;
}
#measure_click > form > input[type="text"],#tax_hidden_div > form > input[type="text"] {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding: 15px;
}

#measure_click > form > input[type="submit"],#tax_hidden_div>form>input[type=submit] {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding: 0px;
  background-color: yellow;
  font-size: 20px;
  font-weight: 900;
}
#measure_click > form > input:focus,#tax_hidden_div>form>input:focus {
  outline: none;
}
#measure_close {
  float: right;
  font-size: 20px;

  color: yellowgreen;
}
#measure_close:hover {
  color: red;
  cursor: pointer;
}
form{
  color:black;
  font-weight: 900;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#bill{
  position: absolute; 
  border-radius: 10px;
  width:700px;
  height:600px;
  padding:10px;
  z-index: 1000;
  top:20px;
  overflow-y:scroll;
  overflow-x: hidden;
  background-color: white;
  box-shadow: 0 0 10px gray;
  /* color: red; */
  animation: down 1s 1;
  display: none;
}
@keyframes down {
  0%{
    
    height:0;

  }
  100%{
    height:500px;
  }
}
@keyframes up {
    0%{
      
      height:500px;
  
    }
    100%{
      height:0;
      
    }
  }
table {
  width: 100%;
  padding: 5px;
}
#close_button{
  float: right;
  border-radius: 0;
  width:100px;
  height:20px;
}
#del_vchr{
  float: left;
  border-radius: 0;
  width:auto;
  height:20px;
  visibility: hidden;
  cursor: pointer;
}
#voucher_des_tr{
  background-color: black;
  color:white;
}
#cmpny_details{
  height:100px;
  color:black;
  padding-left: 10px;
}
#cmpny_logo_td{
  height:100px;
  background-color: white
}
#name,#mail,#address,#phone{
  width:100%;
  height: 30px;
  margin-bottom: 5px;
}
#bill_fill_table{
  margin-bottom: 5px;
}
#tittle_tr{
  background-color: black;
  color:white;
}

.tittle_input{
  color: black;
}
input{
  font-weight: 700;
}
.price_inpt,.desc_inpt,.qty_inpt,.amt_inpt{
  width:100%;
  height:35px;
  text-align: center;
}
.del{
  cursor: pointer;
}
#des,#price,#qty,#amt{
  text-align: center;
}
#tax{
  width:80px;
  text-align: center;  
}
#tax_inpt{
  width:80px;
  height:35px;
  text-align: center;
}
input:focus{
  outline: none;
}
#desc_inpt{
  width:120px;
}

#ftr_tbl,#ftr_tbla,#ftr_tblb,#ftr_tblc,#ftr_tbld {
  width:100%;
  color: black;
  background-color: white;
  margin: 1px;
}
#ftr_tbl tr th{
  width:150px;
  height:30px;
  border:none;
  border-right: 1px solid black;
  text-align: center;
 float: right;
}
#ftr_tbla tr td{
  width:150px;
  padding-left:10px ;
  min-height: 20px;
  font-weight: 900;
  text-align: center;
  border:none;
 float: right;
}
#ftr_tblb tr th ,#ftr_tblc tr th,#ftr_tbld tr th{
  width:150px;
  height:30px;
  margin-top: 10px;
  border:none;
  border-right: 1px solid black;
  text-align: center;
 float: right;
}
#paid{
  width:100%;
  height:100%;
  text-align: center;
}
#ftr_tblb tr,#ftr_tbla tr,#ftr_tbl tr{
  height:auto;
}
#get_bill{
  float: right;
  width:100px;
  height:40px;
  margin-right: 10px;
  background-color: #ff7466;
  cursor: pointer;
  font-weight: 900;
  font-size: 20px;
}
#get_bill:hover{
  background-color: rgb(16, 48, 207);
  color:#e56253
}
#add_item{
  margin-top: 10px;
}

#manage_section{
  width:300px;
  height:100vh;
  background-color: #e56253;
  position: absolute;
  right:0;
  top:0;
  padding: 20px;
  text-align: center;
}
#search_voucher{
  width:100%;
  text-align: center;
  visibility: hidden;
}
#show_tax{
  width:100%;
  text-align: center;
  visibility: hidden;
}
#search_voucher>h1{
  color: White;
  font-weight: 900;

}
#voucher_search_input{
  width: 100%;
  height: 40px;
  background-color: #e7e7e7;
  color: rgb(9, 140, 255);
  font-size: 22px;
  font-family: fontawesome;
  padding: 4px;
  -webkit-appearance: none;
  appearance: textfield;
}

#tax_select{
  width: 100%;
  height: 40px;
  padding-left: 20px;
  color:blue;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
#bottom{
  width: 100%;
  height: 20px;
  background-color: blue;
  position: absolute;
  left:0;
  bottom:0;
}









































@media print {
  table ,th,td{
    border:1px solid black;
  }
  
}

